In [211]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestRegressor

In [212]:
#load the dataset
df=pd.read_csv("D:/campus_placement/notebooks/data/placement_train.csv")

In [213]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [214]:
df.shape

(215, 15)

In [215]:
df.isnull().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    int64
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(2), object(7)
memory usage: 25.3+ KB

In [217]:
df["salary"]=df["salary"].fillna(df["salary"].mean())

In [218]:
df.isnull().sum()

sl_no             0
gender            0
ssc_p             0
ssc_b             0
hsc_p             0
hsc_b             0
hsc_s             0
degree_p          0
degree_t          0
workex            0
etest_p           0
specialisation    0
mba_p             0
status            0
salary            0
dtype: int64

In [219]:
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.000000
1,2,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.000000
2,3,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.000000
3,4,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,288655.405405
4,5,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.000000

In [220]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
sl_no,215.0,108.000000,62.209324,1.00,54.500,108.000000,161.500000,215.00
gender,215.0,0.353488,0.479168,0.00,0.000,0.000000,1.000000,1.00
ssc_p,215.0,67.303395,10.827205,40.89,60.600,67.000000,75.700000,89.40
hsc_p,215.0,66.333163,10.897509,37.00,60.900,65.000000,73.000000,97.70
degree_p,215.0,66.370186,7.358743,50.00,61.000,66.000000,72.000000,91.00
etest_p,215.0,72.100558,13.275956,50.00,60.000,71.000000,83.500000,98.00
mba_p,215.0,62.278186,5.833385,51.21,57.945,62.000000,66.255000,77.89
salary,215.0,288655.405405,77457.900102,200000.00,250000.000,288655.405405,288655.405405,940000.00

In [221]:
df=df.drop(labels=["sl_no","salary"],axis=1)
df["status"].replace(['Placed',"Not Placed"],[1,0],inplace=True)

In [222]:
df

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status
0,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,1
1,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,1
2,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,1
3,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,0
4,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,0,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,1
211,0,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,1
212,0,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,1
213,1,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,1
214,0,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,0

In [224]:
X=df.drop(labels=["status"],axis=1)

In [231]:
X

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p
0,0,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80
1,0,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28
2,0,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80
3,0,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43
4,0,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50
...,...,...,...,...,...,...,...,...,...,...,...,...
210,0,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49
211,0,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62
212,0,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72
213,1,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23
214,0,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22

In [232]:
y=df[["status"]]

In [227]:
y

     status
0         1
1         1
2         1
3         0
4         1
..      ...
210       1
211       1
212       1
213       1
214       0

[215 rows x 1 columns]

In [234]:
numerical_columns=X.select_dtypes(exclude="object").columns

In [235]:
numerical_columns

Index(['gender', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p'], dtype='object')

In [236]:
categorical_columns=X.select_dtypes(include="object").columns

In [254]:
categorical_columns

Index(['ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation'], dtype='object')

In [238]:
print("Categories in 'ssc_b' variable:     ",end=" " )
print(df['ssc_b'].unique())

print("Categories in 'hsc_b' variable:  ",end=" ")
print(df['hsc_b'].unique())

print("Categories in'hsc_s' variable:",end=" " )
print(df['hsc_s'].unique())

print("Categories in  'degree_t' variable:     ",end=" " )
print(df[ 'degree_t'].unique())

print("Categories in 'workex' variable:     ",end=" " )
print(df['workex'].unique())

print("Categories in 'specialisation' variable:     ",end=" " )
print(df['specialisation'].unique())

Categories in 'ssc_b' variable:      ['Others' 'Central']
Categories in 'hsc_b' variable:   ['Others' 'Central']
Categories in'hsc_s' variable: ['Commerce' 'Science' 'Arts']
Categories in  'degree_t' variable:      ['Sci&Tech' 'Comm&Mgmt' 'Others']
Categories in 'workex' variable:      ['No' 'Yes']
Categories in 'specialisation' variable:      ['Mkt&HR' 'Mkt&Fin']

In [257]:
ssc_b_categories= ['Others' 'Central']
hsc_b_categories= ['Others' 'Central']
hsc_s_categories= ['Commerce' 'Science' 'Arts']
degree_t_categories=['Sci&Tech' 'Comm&Mgmt' 'Others']
workex_categories= ['No' 'Yes']
specialisation_categories= ['Mkt&HR' 'Mkt&Fin']

In [268]:
from sklearn.impute import SimpleImputer   ##handling missing values
from sklearn.preprocessing import StandardScaler #handling feature scaling
from sklearn.preprocessing import OrdinalEncoder #ordinal encoding

##pipelines
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [269]:
num_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer()),
        ('scaler',StandardScaler())
    ]
)

In [270]:
cat_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('OrdinalEncoder' , OrdinalEncoder (categories=[ssc_b_categories,
                                                       hsc_b_categories,
                                                       hsc_s_categories,
                                                       degree_t_categories,
                                                       workex_categories,
                                                       specialisation_categories,
                                                    
                                                       ]))
    ]
)

In [271]:
cat_pipeline

Pipeline(steps=[('imputer', SimpleImputer(strategy='most_frequent')),
                ('OrdinalEncoder',
                 OrdinalEncoder(categories=[['OthersCentral'],
                                            ['OthersCentral'],
                                            ['CommerceScienceArts'],
                                            ['Sci&TechComm&MgmtOthers'],
                                            ['NoYes'], ['Mkt&HRMkt&Fin']]))])

In [273]:
preprocessor=ColumnTransformer(           
    [
        ('num_pipeline',num_pipeline,numerical_columns),
        ('cat_pipeline',cat_pipeline,categorical_columns)
    ]
)

In [274]:
preprocessor

ColumnTransformer(transformers=[('num_pipeline',
                                 Pipeline(steps=[('imputer', SimpleImputer()),
                                                 ('scaler', StandardScaler())]),
                                 Index(['gender', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p'], dtype='object')),
                                ('cat_pipeline',
                                 Pipeline(steps=[('imputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('OrdinalEncoder',
                                                  OrdinalEncoder(categories=[['OthersCentral'],
                                                                             ['OthersCentral'],
                                                                             ['CommerceScienceArts'],
                                                                             ['Sci&TechComm&MgmtOthers'],
                                                                             ['NoYes'],
                                                                             ['Mkt&HRMkt&Fin']]))]),
                                 Index(['ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation'], dtype='object'))])

In [275]:
#train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=30)

In [276]:
X_train

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p
3,0,56.00,Central,52.00,Central,Science,52.0,Sci&Tech,No,66.00,Mkt&HR,59.43
155,0,51.57,Others,74.66,Others,Commerce,59.9,Comm&Mgmt,Yes,56.15,Mkt&HR,65.99
172,0,73.00,Others,58.00,Others,Commerce,56.0,Comm&Mgmt,No,84.00,Mkt&HR,52.64
2,0,65.00,Central,68.00,Central,Arts,64.0,Comm&Mgmt,No,75.00,Mkt&Fin,57.80
136,1,47.00,Central,59.00,Central,Arts,64.0,Comm&Mgmt,No,78.00,Mkt&Fin,61.58
...,...,...,...,...,...,...,...,...,...,...,...,...
140,0,65.00,Central,64.80,Others,Commerce,69.5,Comm&Mgmt,Yes,56.00,Mkt&Fin,56.94
45,1,76.00,Central,64.00,Central,Science,72.0,Sci&Tech,No,58.00,Mkt&HR,66.53
173,1,52.00,Others,52.00,Others,Science,55.0,Sci&Tech,No,67.00,Mkt&HR,59.32
165,1,63.30,Central,78.33,Others,Commerce,74.0,Comm&Mgmt,No,80.00,Mkt&Fin,74.56
37,1,79.00,Central,76.00,Central,Science,65.6,Sci&Tech,No,58.00,Mkt&HR,55.47

In [277]:
preprocessor.fit_transform(X_train)

ValueError: Found unknown categories ['Others', 'Central'] in column 0 during fit